
html{
  font-family: sans-serif;
}
header{
  color: #FFFFFF;
  background-color: #006069;
  padding: 20px 50px;
}
footer{
  color: #FFFFFF;
  background-color: #006069;
  padding: 20px 50px;
  text-align: center;
}
